body{
  padding-top: 180px;

}
#body{
  background-color: #aeaeaf;
}

#title{
  font-family:  'Oswald', sans-serif;
  background-color: rgb(39, 38, 38);
  color: white;
}



#main-photo{
  border-radius: 20px
  align-content:center;
}
